In [8]:
import requests
import pandas as pd

# API: STATISTICS USAGE:

url = 'https://opendata.emel.pt/cycling/gira/statistics/usage'

response = requests.get(url)

statistics = response.json()

df_statistics = pd.DataFrame(statistics)

# Sorting values by dates

df_statistics['tripStartDate'] = pd.to_datetime(df_statistics['tripStartDate']) 
df_statistics = df_statistics.sort_values(by='tripStartDate', ignore_index=True)
df_statistics['totalHoursPerDay'] = df_statistics['totalSecondsPerDay']/3600
df_statistics['tripStartDate'] = df_statistics['tripStartDate'].astype('string')
df_statistics.to_json('df_statistics.json', orient='records', lines=True)

C:\Users\juan_\AppData\Local\Temp\ipykernel_12804\3660098130.py:16: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_statistics['tripStartDate'] = pd.to_datetime(df_statistics['tripStartDate'])

In [9]:
df_statistics

,tripStartDate,totalSecondsPerDay,userQtyUnique,avgTripByUserSeconds,totalHoursPerDay
0,2023-02-01,7264812,4609,1576.223041,2018.003333
1,2023-02-02,7096325,4479,1584.354766,1971.201389
2,2023-02-03,7605939,4504,1688.707593,2112.760833
3,2023-02-04,5966358,3104,1922.151417,1657.321667
4,2023-02-05,5221636,2622,1991.470633,1450.454444
...,...,...,...,...,...
329,2023-12-27,4474877,2517,1777.861342,1243.021389
330,2023-12-28,4994872,2772,1801.901875,1387.464444
331,2023-12-29,5013051,2725,1839.651743,1392.514167
332,2023-12-30,3451581,1841,1874.840304,958.772500
333,2023-12-31,2147140,1311,1637.787948,596.427778

In [5]:
# API: BIKELANES: 

url = 'https://opendata.emel.pt/cycling/gira/bikelanes'

response = requests.get(url)

bikelanes = response.json()

df_bikelanes = pd.DataFrame(bikelanes)

df_bikelanes.to_json('df_bikelanes.json', orient='records', lines=True)

In [6]:
# API: WEATHER 

url = "https://api.ipma.pt/open-data/forecast/meteorology/cities/daily/hp-daily-forecast-day0.json"
response = requests.get(url)
weather_data = response.json()
weather_data = weather_data['data']
weather_df = pd.DataFrame(weather_data)
lisbon_weather = weather_df[weather_df["globalIdLocal"] == 1110600]
lisbon_weather['average_temp'] = (lisbon_weather["tMin"] + lisbon_weather["tMax"]) / 2
lisbon_weather.to_json('lisbon_weather.json', orient='records', lines=True)

C:\Users\juan_\AppData\Local\Temp\ipykernel_12804\4017318667.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lisbon_weather['average_temp'] = (lisbon_weather["tMin"] + lisbon_weather["tMax"]) / 2

In [7]:
# WEATHER: HISTORICO
url = "https://api.ipma.pt/open-data/observation/climate/temperature-min/lisboa/mtnmn-1106-lisboa.csv"
df_historico = pd.read_csv(url)
df_historico.to_json('df_historico.json', orient='records', lines=True)