In [1]:
import requests
import pandas as pd

# API: STATISTICS USAGE:

url = 'https://opendata.emel.pt/cycling/gira/statistics/usage'

response = requests.get(url)

statistics = response.json()

df_statistics = pd.DataFrame(statistics)

# Sorting values by dates

df_statistics['tripStartDate'] = pd.to_datetime(df_statistics['tripStartDate']) 
df_statistics = df_statistics.sort_values(by='tripStartDate', ignore_index=True)
df_statistics['totalHoursPerDay'] = df_statistics['totalSecondsPerDay']/3600
df_statistics['tripStartDate'] = df_statistics['tripStartDate'].astype('string')
df_statistics.to_json('df_statistics.json', orient='records', lines=True)

C:\Users\juan_\AppData\Local\Temp\ipykernel_13100\3803809444.py:16: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_statistics['tripStartDate'] = pd.to_datetime(df_statistics['tripStartDate'])

In [3]:
# API: BIKELANES: 

url = 'https://opendata.emel.pt/cycling/gira/bikelanes'

response = requests.get(url)

bikelanes = response.json()

df_bikelanes = pd.DataFrame(bikelanes)

df_bikelanes.to_json('df_bikelanes.json', orient='records', lines=True)

In [3]:
# API: WEATHER 

url = "https://api.ipma.pt/open-data/forecast/meteorology/cities/daily/hp-daily-forecast-day0.json"
response = requests.get(url)
weather_data = response.json()
weather_data = weather_data['data']
weather_df = pd.DataFrame(weather_data)
lisbon_weather = weather_df[weather_df["globalIdLocal"] == 1110600]
lisbon_weather['average_temp'] = (lisbon_weather["tMin"] + lisbon_weather["tMax"]) / 2
lisbon_weather.to_json('lisbon_weather.json', orient='records', lines=True)

C:\Users\juan_\AppData\Local\Temp\ipykernel_24512\2498594546.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lisbon_weather['average_temp'] = (lisbon_weather["tMin"] + lisbon_weather["tMax"]) / 2

In [3]:
# WEATHER: HISTORICO
url = "https://api.ipma.pt/open-data/observation/climate/temperature-min/lisboa/mtnmn-1106-lisboa.csv"
df_historico = pd.read_csv(url)
df_historico.to_json('df_historico.json', orient='records', lines=True)

          date    minimum    maximum     range       mean       std
0   2023-11-03  11.701591  12.700811  0.999220  12.408211  0.333282
1   2023-11-04  14.700069  14.956950  0.256881  14.777585  0.072926
2   2023-11-05  10.302555  12.299693  1.997138  11.613646  0.666373
3   2023-11-06   9.403089  11.597628  2.194539  10.535925  0.591258
4   2023-11-07   8.802867  10.897638  2.094771   9.547240  0.598545
..         ...        ...        ...       ...        ...       ...
79  2024-01-22   5.104005   7.797084  2.693079   6.292817  0.708411
80  2024-01-24  11.300495  12.699469  1.398973  12.022761  0.479311
81  2024-01-26  11.400685  13.498568  2.097882  12.298583  0.635444
82  2024-01-27  10.800587  12.399287  1.598701  11.602890  0.526361
83  2024-01-30  10.500312  11.399478  0.899166  10.916739  0.280240

[84 rows x 6 columns]