In [2]:
import requests
import pandas as pd

# API: STATION LIST: NOT INTERESTING

url = 'https://opendata.emel.pt/cycling/gira/station/list'

response = requests.get(url)

stations = response.json()

df_stations = pd.DataFrame(stations)

In [3]:
df_stations = df_stations.drop(columns = ['tarifario','latitude','longitude','formaspagto','contatoservassistencia','horariofuncionamento','wifi','aberturadt','criacaodtt','servicosextra'])

In [4]:
df_stations

,id_expl,estacaolocalizacao,dispbicicleta,atualizacaodtt,cp7
0,110,110 - Rua de Moscavide,16,30-01-2024 06:00,1900238
1,452,452 - Rua Teixeira de Pascoais / Rua Dr. Gama ...,7,30-01-2024 06:00,1000009
2,460,460 - Av. Rio de Janeiro / Parque de Jogos 1º ...,12,30-01-2024 06:00,1700330
3,472,472 - Rua Marquês Soveral / ES Padre António V...,10,30-01-2024 06:00,1749063
4,415,415 - Av. Duque de Ávila / Av. Conde Valbom,3,30-01-2024 06:00,1000141
...,...,...,...,...,...
150,521,521 - Rua César de Oliveira / Rua Fernando Lop...,12,30-01-2024 06:00,None
151,237,237 - Avenida da India / Praca das Industrias,9,30-01-2024 06:00,None
152,436,436 - Instituto Português de Oncologia,6,30-01-2024 06:00,None
153,435,435 - Interface de Sete Rios,1,30-01-2024 06:00,None
154,105,105 - CC Vasco da Gama,4,30-01-2024 06:00,1990094

In [5]:
# API: STATION AVAILABILITY:
import requests
import pandas as pd

url = 'https://opendata.emel.pt/cycling/gira/station/availability'

response = requests.get(url)

st_availability = response.json()

In [6]:
### Examplo of hoy to get number of bikes available:
st_availability['features'][0]['properties']['num_bicicletas']

11

In [7]:
### Funtion that get the number of available bikes:

def get_bikes_availables(station_id):
    station_data = next((station['properties'] for station in st_availability['features'] if station['properties']['id_expl'] == str(station_id)), None)
    return station_data['num_bicicletas']

In [8]:
get_bikes_availables(419)

15

In [9]:
### Code to build dataframe with relevant data:

data_list = []

for i in st_availability['features']:
    name = i['properties']
    data_list.append({'id_expl': name['id_expl'], 'desig_comercial': name['desig_comercial'], 'num_bicicletas': name['num_bicicletas'], 'num_docas': name['num_docas'],'update_date':name['update_date']})

# Create DataFrame
list_id_station = pd.DataFrame(data_list)
list_id_station

,id_expl,desig_comercial,num_bicicletas,num_docas,update_date
0,388,109 - Alameda dos Oceanos / Rua Ilha dos Amores,11,14,2023-04-20T01:45:45Z
1,306,306 - Avenida da Liberdade / Rua Alexandre Her...,4,16,2024-01-30T17:55:22Z
2,210,238 - Rua de Cascais / Alcântara Mar,0,0,2022-04-07T11:56:26Z
3,351,352 - Rua Tomás da Anunciação / Rua Almeida e S.,0,17,2022-07-13T15:45:51Z
4,452,452 - Rua Teixeira de Pascoais / Rua Dr. Gama ...,8,10,2024-01-30T17:55:13Z
...,...,...,...,...,...
156,513,513 - Rua Guiomar Torresão/Metro de Carnide,15,20,2024-01-30T17:55:43Z
157,502,502 - Rua São Domingos de Benfica / Rua Franci...,6,16,2024-01-30T17:55:46Z
158,307,307 - Marquês de Pombal,1,33,2024-01-30T17:55:23Z
159,230,230 - Praca D. Manuel I,0,37,2024-01-30T17:55:47Z
160,242,242 - Avenida Torre de Belém / Avenida do Restelo,0,19,2024-01-30T17:55:47Z

In [10]:
list_id_station.to_json('list_id_station.json', orient='records', lines=True)

In [11]:
# API: STATISTICS USAGE:

url = 'https://opendata.emel.pt/cycling/gira/statistics/usage'

response = requests.get(url)

statistics = response.json()

In [12]:
df_statistics = pd.DataFrame(statistics)
df_statistics

    tripStartDate  totalSecondsPerDay  userQtyUnique  avgTripByUserSeconds
0      24-02-2023             5865677           4050           1448.315308
1      13-03-2023             7911606           4944           1600.243932
2      06-04-2023             7462472           3981           1874.521979
3      17-04-2023             9411483           5317           1770.073913
4      02-05-2023            10780631           5980           1802.781103
..            ...                 ...            ...                   ...
329    19-08-2023             5289264           2436           2171.290640
330    01-09-2023             7391302           3836           1926.825338
331    21-09-2023             8566428           5029           1703.405846
332    11-12-2023             8524346           4510           1890.098891
333    16-12-2023             5693479           3002           1896.561958

[334 rows x 4 columns]

In [13]:
df_statistics.to_json('df_statistics.json', orient='records', lines=True)

In [15]:
df_statistics

    tripStartDate  totalSecondsPerDay  userQtyUnique  avgTripByUserSeconds
0      24-02-2023             5865677           4050           1448.315308
1      13-03-2023             7911606           4944           1600.243932
2      06-04-2023             7462472           3981           1874.521979
3      17-04-2023             9411483           5317           1770.073913
4      02-05-2023            10780631           5980           1802.781103
..            ...                 ...            ...                   ...
329    19-08-2023             5289264           2436           2171.290640
330    01-09-2023             7391302           3836           1926.825338
331    21-09-2023             8566428           5029           1703.405846
332    11-12-2023             8524346           4510           1890.098891
333    16-12-2023             5693479           3002           1896.561958

[334 rows x 4 columns]

In [6]:
# API: BIKELANES: NOT INTERESTING

url = 'https://opendata.emel.pt/cycling/gira/bikelanes'

response = requests.get(url)

bikelanes = response.json()

df_bikelanes = pd.DataFrame(bikelanes)

df_bikelanes.to_json('df_bikelanes.json', orient='records', lines=True)

In [7]:
df_bikelanes.head(2)

,idTrocoCiclovia,idCiclovia,localizacao,hierarquia,via,passeio,itinerario,restricaoAcesso,situacao,freguesia,largura,comprimento,dataAbertura,dataAtualizacao,tipo,viaDupla,pavQualidade,coordenadas
0,15558,RC0038,Vela Latina (Avenida Brasilia),Local,Sim,Sim,None,None,Operacional,Belém,2.6,112.2,05-01-2021 00:00,28-07-2022 14:24,Definitiva,Bidirecional,Bom,"[[-9.21419218739564, 38.6933381757875], [-9.21..."
1,15559,RC0014,Avenida Infante Dom Henrique,Principal,Sim,None,None,None,Operacional,Santa Maria Maior,2.2,164.4,30-07-2021 23:00,28-07-2022 14:24,Definitiva,Bidirecional,Muito Bom,"[[-9.12401110543488, 38.7120972239635], [-9.12..."

In [11]:
# API: bicyclecounter/locations: NOT INTERESTING

url = 'https://opendata.emel.pt/cycling/bicyclecounter/locations'

response = requests.get(url)

bicyclecounter = response.json()

df_bicyclecounter = pd.DataFrame(bicyclecounter)

In [12]:
df_bicyclecounter.head(2)

,locationId,tenantIdentifier,name,cp7,freguesia,directionPositive,directionNegative,latitude,longitude
0,2,lisboa.pt.mycycletraffic,#18 - Avenida do Colégio Militar,1500-069,Benfica,None,None,"38,749622968","-9,191152508"
1,3,lisboa.pt.mycycletraffic,#01 - Telheiras - Colégio Alemão,1600-616,Lumiar,None,None,"38,759682478","-9,164044385"

In [19]:
# API: STATISTICS TRIPS:

url = 'https://opendata.emel.pt/cycling/gira/statistics/trips'

response = requests.get(url)

statistics_trips = response.json()

df_statistics_trips = pd.DataFrame(statistics_trips)

df_statistics_trips.to_json('df_statistics_trips.json', orient='records', lines=True)

In [20]:
df_statistics_trips.head(2)

  tripStartDate  avgTripSeconds  avgTripSecondsRush
0    31-01-2023      882.929407          840.225194
1    01-02-2023      846.714685          833.090868